.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    gap: 3rem;
  }
  
  .header {
    text-align: center;
  }
  
  .headerTitle {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .headerTitle span {
    color: blue;
  }
  
  .headerSubtitle {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight:bolder
  }
  
  .welcome {
    text-align: center;
  }
  
  .welcomeTitle {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .welcomeText {
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }
  
  .skills {
    text-align: center;
  }
  
  .skillsTitle {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .skillsList {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 0.5rem;
    gap: 0.25rem;
    padding-inline-start: 1.5rem;
    font-size: 1.125rem;
  }
  
  /* Call to Action */
  .callToAction {
    text-align: center;
  }
  
  .ctaTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .ctaLink {
    color: blue;
    text-decoration: underline;
    transition: color 0.3s;
  }
  
  .ctaLink:hover {
    color: blue;
  }
  
  /* Social Links */
  .socialLinks {
    text-align: center;
  }
  
  .socialTitle {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .socialText {
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }
  
  .socialLink {
    color: blue;
    text-decoration: underline;
    margin-left: 0.25rem;
    transition: color 0.3s;
  }
  
  .socialLink:hover {
    color: #9fcc67;
  }
  
  @media (min-width: 768px) {
    .headerTitle {
      font-size: 3rem;
    }
    .headerSubtitle {
        font-size: 1.5rem;
    }
  }